[Unit]
Description=gunicorn daemon
After=network.target


[Service]
User=ubuntu
Environment="DJANGO_SETTINGS_MODULE=core.settings.prod"
Group=www-data
WorkingDirectory=/home/ubuntu/iot/backend
ExecStart=/home/ubuntu/iot/backend/venv/bin/python3 /home/ubuntu/iot/backend/main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
