server {
    server_name   www.itmans.ir  itmans.ir;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias /home/ubuntu/rabiie/staticfiles;
    }
    location /media/ {
        root /home/ubuntu/rabiie/mediafiles;
    }
    location / {
        include proxy_params;
        proxy_pass http://unix:/run/rabiie.sock;
    }
}
